# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):

# Wildcards
*.#*
*.bak
*.db
*.db.*
*.egg-info
*.orig
*.pyc
*.rej
.*.swo
.*.swp
.Py*

# Directories/symlinks
.idea
_build
bak
build
dist
docs/rbtools/api/coderef/python
pickle
temp

rbtools/clients/tests/testdata/cvs-repo/CVSROOT/history
rbtools/clients/tests/testdata/homedir/.bzr.log
rbtools/clients/tests/testdata/homedir/.local
rbtools/clients/tests/testdata/hg-repo/.hg/cache
rbtools/clients/tests/testdata/hg-repo/.hg/wcache

contrib/installers/windows/deps
contrib/installers/windows/wix/*.suo
contrib/installers/windows/wix/obj

# Nose test caches
.coverage
.noseids
